@media (max-width: 1200px) {
  .portfolio img,
  .portfolio figcaption {
    max-width: 500px;
  }
}

@media (max-width: 1100px) {
  .portfolio img,
  .portfolio figcaption {
    max-width: 450px;
  }
}

@media (max-width: 1000px) {
  .portfolio img,
  .portfolio figcaption {
    max-width: 400px;
  }
}

@media (max-width: 900px) {
  .navigation a,
  .profile-description,
  .profile-links ion-icon,
  .portfolio figcaption {
    font-size: 1.8rem;
  }

  .portfolio img,
  .portfolio figcaption {
    max-width: 545px;
  }
}

@media (max-width: 800px) {
  .navigation a,
  .profile-description,
  .profile-links ion-icon,
  .portfolio figcaption {
    font-size: 1.5rem;
  }

  .profile-name {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .profile-pic {
    max-width: 250px;
    max-height: 250px;
  }

  .navigation a,
  .profile-description,
  .profile-links ion-icon,
  .portfolio figcaption {
    font-size: 1.2rem;
  }

  .profile-name {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .profile-pic {
    max-width: 200px;
    max-height: 200px;
  }

  .portfolio img,
  .portfolio figcaption {
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .profile-pic {
    max-width: 150px;
    max-height: 150px;
  }

  .portfolio img,
  .portfolio figcaption {
    max-width: 350px;
  }
}

@media (max-width: 400px) {
  .profile-pic {
    max-width: 100px;
    max-height: 100px;
  }

  .portfolio img,
  .portfolio figcaption {
    max-width: 250px;
  }
}
